<form #form="ngForm" (ngSubmit)="login(form)">
  <div class="ion-padding ion-text-center">
    <h3>Zaloguj się!</h3>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-input name="userName" type="text" placeholder="Janek" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="hasło" ngModel required></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-button type="submit" [disabled]="form.invalid" expand="block">Zaloguj</ion-button>
  </div>
  <div class="ion-padding-horizontal">
    <ion-button class="register" expand="block" fill="clear" (click)="redirectToRegister()">Rejestracja</ion-button>
  </div>

</form>
