<form #form="ngForm" (ngSubmit)="register(form)">
  <div class="ion-padding ion-text-center">
    <h3>Załóż konto</h3>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-input name="email" type="email" placeholder="twoj@email.pl" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="hasło" ngModel required></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-button type="submit" [disabled]="form.invalid" expand="block">Zarejestruj</ion-button>
  </div>
</form>
