<ion-menu #mainMenu contentId="main-menu" menuId="main-menu" type="overlay">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
        <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false"
          routerLinkActive="selected">
          <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
